<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicament of medicines">
                <td data-title="ID">{{ medicament.id }}</td>
                <td data-title="Title">{{ medicament.title }}</td>
                <td data-title="Category">{{ medicament.category.name }}</td>
                <td data-title="Price">{{ medicament.price }}₴</td>
                <td data-title="Amount">{{ medicament.amount }}</td>
                <td data-title="Actions" class="actions">
                    <div class="action-button-wrapper"><a class="button white">Edit</a></div>
                    <div class="action-button-wrapper"><a class="button">Delete</a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal-window [showModal]="createMedicamentModalShown" (onClose)="closeNewMedicamentModal()">
    <form>
        <h1>New medicament</h1>
        <hr/>
        <input type="text" placeholder="Title">
        <div class="select-wrapper">
            <select name="category" id="">
                <option *ngFor="let category of medicamentCategories" value="{{ category.id }}">{{ category.name }}</option>
            </select>
        </div>
        <div class="flex-container">
            <input type="text" placeholder="Price (₴)">
            <input type="text" placeholder="Amount">
        </div>
        <input class="button" type="submit" value="Create">
    </form>
</modal-window>