<div class="table-wrapper">
    <table *ngIf="medicines">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'TITLE' | translate }}</th>
                <th>{{ 'CATEGORY' | translate }}</th>
                <th>{{ 'PRICE' | translate }}</th>
                <th>{{ 'AMOUNT' | translate }}</th>
                <th>{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="medicines.length == 0">
                <th colspan="6">
                    {{ 'NOTHING_HERE_YET' | translate }}
                </th>
            </tr>

            <tr *ngFor="let medicament of medicines">
                <td data-title="ID">{{ medicament.id }}</td>
                <td data-title="Title">{{ medicament.title }}</td>
                <td data-title="Category">{{ medicament.category.name }}</td>
                <td data-title="Price">{{ medicament.price }}₴</td>
                <td data-title="Amount">{{ medicament.amount }}</td>
                <td data-title="Actions" class="actions">
                    <div class="action-button-wrapper"><a (click)="showEditModal(medicament)" class="button white">{{ 'EDIT' | translate }}</a></div>
                    <div class="action-button-wrapper"><a (click)="showDeleteModal(medicament)" class="button">{{ 'DELETE' | translate }}</a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal-window [showModal]="createMedicamentModalShown" (onClose)="closeAllModals()">
    <form  *ngIf="medicamentCategories" (ngSubmit)="submitNewMedicament()" [formGroup]="newMedicamentForm">
        <h1>{{ 'NEW_MEDICAMENT' | translate }}</h1>
        <hr/>
        <input formControlName="title" type="text" placeholder="{{ 'TITLE' | translate }}">
        <div class="select-wrapper">
            <select formControlName="categoryId">
                <option *ngFor="let category of medicamentCategories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="flex-row-container">
            <input pattern="^\d+(\.\d+)?$" formControlName="price" type="text" placeholder="{{ 'PRICE_UAH' | translate }}">
            <input pattern="^\d+$" formControlName="amount" type="text" placeholder="{{ 'AMOUNT' | translate }}">
        </div>
        <input class="button" type="submit" value="{{ 'CREATE' | translate }}">
    </form>
</modal-window>

<modal-window [showModal]="editMedicamentModalShown" (onClose)="closeAllModals()">
    <form (ngSubmit)="submitEditedMedicament()" [formGroup]="editMedicamentForm">
        <h1>{{ 'EDIT_MEDICAMENT' | translate }}</h1>
        <hr/>
        <input formControlName="title" type="text" placeholder="{{ 'TITLE' | translate }}">
        <div class="select-wrapper">
            <select formControlName="categoryId">
                <option *ngFor="let category of medicamentCategories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <div class="flex-row-container">
            <input pattern="^\d+(\.\d+)?$" formControlName="price" type="text" placeholder="{{ 'PRICE_UAH' | translate }}">
            <input pattern="^\d+$" formControlName="amount" type="text" placeholder="{{ 'AMOUNT' | translate }}">
        </div>
        <input class="button" type="submit" value="{{ 'CONFIRM' | translate }}">
    </form>
</modal-window>

<modal-window [showModal]="deleteMedicamentModalShown" (onClose)="closeAllModals()">
    <div class="flex-column-container">
        <h1>{{ 'DELETE_MEDICAMENT_QUESTION' | translate }}</h1>
        <hr/>
        <div class="flex-row-container">
            <a (click)="closeAllModals()" class="button white">{{ 'CANCEL' | translate }}</a>
            <a (click)="confirmDelete()" class="button">{{ 'CONFIRM' | translate }}</a>
        </div>
    </div>
</modal-window>