<footer>
    <div class="container">
        <span>{{ 'MADE_BY' | translate }} (aka. <a href="https://github.com/MrQuackDuck" target="_blank">MrQuackDuck</a>)</span>
        <span>{{ 'MADE_AT' | translate }}</span>
    </div>
    <div class="container">
        <span>
            {{ 'POWERED_BY' | translate }} 
            <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">ASP.NET</a> & 
            <a href="https://angular.io/" target="_blank">Angular</a>
        </span>
    </div>
</footer>