main {
    display: flex;
    justify-content: center;
    background-color: #BC1637;
    padding-top: 8vh;
    height: 100vh;
}

.login-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 38px 45px;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 20vw;
    min-width: 440px;
    height: fit-content;
}

.login-block img {
    height: 45px;
}

.login-block .error {
    padding: 12px 15px;
    background-color: #FFDBDB;
    border: 3px solid #E01840;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #E01840;
}

.login-block form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-block form .control {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 10px;
}

.login-block form * {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .login-block {
        width: 95%;
        min-width: unset;
        padding: 19px 22px;
    }
}