<main>
    <div class="login-block">
        <img src="/assets/img/logo-full.svg" alt="Logo" draggable="false">
        <div *ngIf="showError" class="error">{{ 'LOGIN_ERROR' | translate }}</div>
        <form [formGroup]="form" (submit)="submit()">
            <input formControlName="username" type="text" placeholder="{{ 'USERNAME' | translate }}">
            <input formControlName="password" type="password" placeholder="{{ 'PASSWORD' | translate }}">
            <div class="control">
                <input class="button" type="submit" value="{{ 'LOGIN' | translate }}">
                <div class="select-wrapper">
                    <select>
                        <option (click)="setLanguage(Language.EN)" [selected]="currentLanguage == Language.EN">{{ 'ENGLISH' | translate }}</option>
                        <option (click)="setLanguage(Language.UK)" [selected]="currentLanguage == Language.UK">{{ 'UKRAINIAN' | translate }}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</main>