body {
    padding: 3.1vh 5.5vw;
}

header, main {
    max-width: 1800px;
    margin: 0 auto;
}

header {
    display: flex;
}

header a {
    user-select: none;
}

header a img {
    max-height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.new-section, .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.new-section div, .new-section a, 
.container table, .container aside {
    width: 100%;
}

.new-section .empty, .container .main-side {
    height: fit-content;
    flex: 5;
}

.new-section a, .container aside {
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    border: 3px solid var(--light-gray);
    border-radius: 10px;
}

aside a.active {
    background-color: var(--bright-red);
    color: #fff;
}

aside a {
    display: block;
    color: #000;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px solid var(--light-gray);
}

aside::after {
    content: " ";
    padding: 30px 10px;
}

@media screen and (max-width: 920px) {
    main {
        padding-top: 30px;
    }

    aside a:last-child {
        border-bottom: none;
    }

    .container {
        flex-direction: column-reverse;
    }

    .empty {
        display: none;
    }
}