<div class="table-wrapper">
    <table *ngIf="users">
        <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'USERNAME' | translate }}</th>
                <th>{{ 'ACTIONS' | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="users.length == 0">
                <th colspan="6">
                    {{ 'NOTHING_HERE_YET' | translate }}
                </th>
            </tr>

            <tr *ngFor="let user of users">
                <td data-title="ID">{{ user.id }}</td>
                <td data-title="Title">{{ user.username }}</td>
                <td data-title="Actions" class="actions">
                    <div class="action-button-wrapper"><a (click)="showDeleteModal(user)" class="button">{{ 'DELETE' | translate }}</a></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<modal-window [showModal]="createUserModalShown" (onClose)="closeAllModals()">
    <form (ngSubmit)="submitNewUser()" [formGroup]="newUserForm">
        <h1>{{ 'NEW_USER' | translate }}</h1>
        <hr/>
        <input formControlName="username" type="text" placeholder="{{ 'USERNAME' | translate }}">
        <input formControlName="password" type="text" placeholder="{{ 'PASSWORD' | translate }}">
        <input class="button" type="submit" value="{{ 'CREATE' | translate }}">
    </form>
</modal-window>

<modal-window [showModal]="deleteUserModalShown" (onClose)="closeAllModals()">
    <div class="flex-column-container">
        <h1>{{ 'DELETE_USER_QUESTION' | translate }}</h1>
        <hr/>
        <div class="flex-row-container">
            <a (click)="closeAllModals()" class="button white">{{ 'CANCEL' | translate }}</a>
            <a (click)="confirmDelete()" class="button">{{ 'CONFIRM' | translate }}</a>
        </div>
    </div>
</modal-window>