<div class="flex-row-container">
    <a (click)="logout()" class="button">Log Out</a>
    <a (click)="showChangePasswordModal()" class="button white">Change password</a>
</div>

<modal-window [showModal]="changePasswordModalShown" (onClose)="closeAllModals()">
    <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
        <h1>Change password</h1>
        <hr/>
        <input formControlName="oldPassword" type="password" placeholder="Old password">
        <input formControlName="newPassword" type="password" placeholder="New password">
        <input formControlName="newPasswordConfirm" type="password" placeholder="New password confirm">
        <input class="button" type="submit" value="Confirm change">
    </form>
</modal-window>